@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@400;500;600;700;800&display=swap');

.Show{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}

.Boxe{
 /* position: relative; */
 /* color:white; */
 /* width: 70%; */
 /* align-self: center; */
 font-family: 'Boogaloo';
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* background-color: rgb(37, 100, 177); */
 margin-top: 100px;
 font-size: 35px;
 word-wrap: break-word;
 word-spacing: 25px;
}

#wtv{
 /* margin: 5px; */
 color: rgba(79, 248, 248, 0.671);
 font-style: italic;
 font-family: 'Inter';
 font-weight: bolder;
}

#Cool{
 width: 40%;
 /* margin-left: 195px; */
 color: rgb(175, 238, 248);
 font-weight: bold;
}